name: Deploy DEV to dev.watercolumnproject.org

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Water Column Visualization UI for DEV

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    environment: dev

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci

      - run: npm run build

      - run: aws s3 cp --recursive ./dist/ s3://dev.watercolumnproject.org/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - run: aws cloudfront create-invalidation --distribution-id E32YC8GNX5V1OT --paths '/*'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
